* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #f8f8f8;
  height: 100vh;
  width: 17rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-head {
  background-color: #98fb98;
  padding: 1rem;
  border-bottom: 2px solid #ccc;
}

.sidebar-menu {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  font-family: sans-serif;
  margin: 15px auto;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  padding: 0.75rem;
  color: #333;
  border-radius: 0.4rem;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-item.active {
  background-color: #f1f1f1;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}

.gambar img {
  height: 55px;
  border-radius: 25%;
}

.title-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ttl-head a {
  font-family: "Archivo Black" !important;
  font-size: larger;
  color: #202335;
}

.content {
  width: 100%;
}

.nav {
  height: 55px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
  color: #202335;
}

.box-tugas {
  padding: 1rem 2rem;
  max-width: 100%;
  margin-top: 1rem;
}

.box-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.item-tugas {
  background: #fff;
  border: 1px solid #eee;
  border-left: 4px solid #f0f0f0;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.item-title {
  min-height: 495px;
  font-size: 0.9rem;
  color: #777777;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card-img {
  height: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/geometry.png");
  background-blend-mode: multiply;
  background-size: cover;
}

.card-name {
  font-size: 0.85rem;
  color: #888;
  margin: 0.75rem 1rem 0 1rem;
  display: flex;
  align-items: center;
}

.card-name i {
  margin-right: 0.4rem;
}

.card-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 1rem;
}
